
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>Müşteri Adı</label>
            <input type="text" class="form-control" name="MUSTERIAD" />
        </div>

        <div>
    <label>Müşteri SoyAdı</label>
    <input type="text" class="form-control" name="MUSTERISOYAD" />
</div>
        <div style="margin-top:15px">
            <button class="btn btn-primary">Müşteri Ekle</button>
        </div>


    </form>