@model stok.Models.entity.TBLMUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>Müşteri Adı</label>
            @Html.TextBoxFor(m =>m.MUSTERIAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:Red" })
        </div>

        <div>
    <label>Müşteri SoyAdı</label>
    <input type="text" class="form-control" name="MUSTERISOYAD" />
</div>
        <div style="margin-top:15px">
            <button class="btn btn-primary"id="btn" onclick="EkranaBas()">Müşteri Ekle</button>
        </div>
        <script>
             function EkranaBas() {
                if (document.getElementById("txtAd").value == "") {

                    alert('Ekleme İşlemi Gerçekleşmedi');
                }
                else {
                    alert('Müşteri Ekleme İşlemi Yapıldı...!');
                }
            }
            
           
        </script>

    </form>